// scss-lint:disable MergeableSelector

// ==========================================================================
// # BOX SIZING
// ==========================================================================

*,
*::before,
*::after {
    box-sizing: border-box;
}


html,
body {
    opacity: 1 !important;
    scroll-behavior: smooth;
    // @TODO: Review
    // overflow-x: hidden;
    width: 100%;
}

.no-cuts-the-mustard body > *,
.no-js body > *,
.no-webfonts body > *,
.webfont-1-active body > *,
.webfont-inactive body> * {
    opacity: 1;
}
