// ==========================================================================
// TYPOGRAPHY
//
// Description: base typography styles to apply globally
// ==========================================================================


// ==========================================================================
// BASE
// ==========================================================================


.long-form-copy {

    // @TODO - review this ... Style all elements that are created in CMS..

    // general element margin-bottom
    img { margin-bottom: $half-spacing-unit; }


    // Single element styles
    p { margin-top: 0; }

    ul {
        list-style: disc;
        padding-left: 0px;
    }

    ol {
        list-style: decimal;
        padding-left: 0px;
    }

    li {
        margin-bottom: $quarter-spacing-unit;
        margin-left: ($spacing-unit - $quarter-spacing-unit);
    }

    a {
        @include link-underline;
        display: inline-block;
    }

    // Headings
    // @for $i from 2 through 5 {
    //     $map_key: $i + 4;
    //     $key: nth(map-keys($font-sizes), $map_key);
    //
    //     h#{$i} {
    //         @include fsz($key);
    //
    //         margin-bottom: 0.5rem;
    //     }
    // }
}

.long-form-copy__separator {
    position: relative;
    @include separator-line(2px, -20px, get-color(primary));

    @include mq(medium) {
        @include separator-line(2px, -40px, get-color(primary));
    }
}

.long-form-copy__title {
    @include wf-secondary;
}

.long-form-copy--small {
    @include fsz(small);
}