// ==========================================================================
// TYPOGRAPHY
//
// Description: base typography styles to apply globally
// ==========================================================================

// ==========================================================================
// @FONT-FACE
// ==========================================================================

@font-face {
    font-family: 'GTWalsheimRegular';
    src: url('../fonts/gt-walsheim-regular.woff2') format('woff2'),
        url('../fonts/gt-walsheim-regular.woff') format('woff');
}

@font-face {
    font-family: 'GTWalsheimBold';
    src: url('../fonts/gt-walsheim-bold.woff2') format('woff2'),
        url('../fonts/gt-walsheim-bold.woff') format('woff');
}





// ==========================================================================
// GLOBAL
// ==========================================================================

html { @include fsz(base); }

body {
    @include wf-primary;
    color: $base-font-color;
    font-size: 100%;
}

@mixin text-color($color: false, $color-modifier: default) {
    @if($color) {
        $color-modifier-modifier: "";

        @if( $color-modifier != default ) {
            $color-modifier-modifier: $color-modifier + "-";
        }

        // Doing this as my old technique for interpolination was
        // throwing an error even though it was neater...
        // .text--#{$color-modifier-modifier}#{$color}
        $class: "text--" + $color-modifier-modifier + $color;

        .#{$class} {
            color: get-color($color, $color-modifier);
        }
    }
}

@each $color, $default-shade in $brand-colors {
    @include text-color($color);

    @if( map-has-nested-keys($brand-colors, $color, light) == true) {
        @include text-color($color, light);
    }

    @if( map-has-nested-keys($brand-colors, $color, dark) == true) {
        @include text-color($color, dark);
    }
}





// # MODIFIER: SMALLER TYPE SIZES
// ==========================================================================

@each $item in $alt-body-typeset {
    $key: nth($item, 1);

    .text--#{$key} { @include fsz($key); }
}





// ==========================================================================
// EMPHASIS
// ==========================================================================

strong,
b,
.text--bold {
    font-weight: bold;
}

.text--uppercase { text-transform: uppercase; }

em,
.text--italic { font-style: italic; }





// ==========================================================================
// # MODIFIER: TEXT POSITIONING
//
//   The order of these classes is spefific. DON'T re-order.
// ==========================================================================

.text--right,
.text-right { text-align: right; }

.text--center,
.text-center { text-align: center; }

.text--left,
.text-left { text-align: left; }





// ==========================================================================
// PARAGRAPHS
// ==========================================================================

p {
    margin: 0 0 $half-spacing-unit;
}





// ==========================================================================
// LINKS
// ==========================================================================

a {
    color: color-get(black);

    // &:focus {
    //     outline: thin dotted;
    // }

    &:hover,
    &:active {
        outline: 0;
    }
}

// a:hover,
// a:focus {
//     @if( map-has-nested-keys($brand-colors, black, light) == true) {
//         color: color-get(black, light);
//     } @else {
//         color: lighten(color-get(black), 15%);
//     }
// }

.link-underline { @include link-underline; }





// ==========================================================================
// LISTS
// ==========================================================================

// Standard List
// ==========================================================================

// @REVIEW: Commented out due to issues with old site styles
// ul,
// ol {
//     margin: 0px 0px $half-spacing-unit 25px;
//     padding: 0;
// }

// Nested lists
ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0;
}

ul {
    list-style: none;
}

ol {
    list-style: decimal;
}

li {
    line-height: $base-line-height;
}





// Definition List
// ==========================================================================

dd {
    margin-left: 0;
}





// ==========================================================================
// ADDRESS
// ==========================================================================

address {
    @include landmark;
    font-style: normal;
}





// ==========================================================================
// IMAGES
// ==========================================================================

// Set things up for responsive
img {
    border: 0;
    height: auto;
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    vertical-align: middle;
}
