// ==========================================================================
// # GENERAL UTILS CLASSES
// ==========================================================================

.vh { @include vh; }

.text-center { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.img-center {
    display: block;
    margin: 0 auto;
}

.display-block {
    display: block;
}
