.product-accordion__button {
    color: color-get(white);
    margin-left: -$quarter-spacing-unit;
    padding: $quarter-spacing-unit;

    &:focus {
        background-color: color-get(white);
        outline: none;
        transition: all 0.2s ease;

        .product-accordion__header, .product-accordion__header__arrow {
            color: color-get(primary);
        }
    }
}

.product-accordion__header {
    display: inline-block;
    // position: relative;
    // text-decoration: underline;

    // &:after {
    //     bottom: 0;
    //     content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='auto' height='25px' viewBox='0 0 24 24' fill='%23fff' stroke='%23fff' stroke-width='3' stroke-linecap='square' stroke-linejoin='arcs'%3E%3Cpolygon points='5 3 19 12 5 21 5 3'%3E%3C/polygon%3E%3C/svg%3E");
    //     display: inline-block;
    //     margin-left: 10px;
    //     position: relative;
    //     right: auto;
    //     text-align: left;
    //     top: 0;
    //     transform-origin: center;
    //     transition: all 0.2s ease;

    //     .-ba-is-active & {
    //         transform: rotate(90deg);
    //     }
    // }
}

.product-accordion__content {
    @include fsz(small);
    display: block;
    padding-bottom: $quarter-spacing-unit;

    ul {
        list-style: disc;
        margin-top: 0;
    }

    li {
        @include fsz(small);

        &:not(:last-of-type) { margin-bottom: $quarter-spacing-unit; }
    }
}