.awards-list {
    @include list-reset;
    display: flex;
    justify-content: center;

    &__item {
        padding: 0 $half-spacing-unit;

        @include mq(medium) {
            padding: 0 $spacing-unit;
        }

        @include mq(large) {
            padding: 0 $double-spacing-unit;
        }
    }
}