// ==========================================================================
//
// BANNER
//
// Description: The first component on a page containing site logo
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.banner {
    @include get-bgc(primary);
    @include band($quarter-spacing-unit/2);
}

.banner__inner {
    @include container;
    display: flex;
    justify-content: center;
}


.banner__link {
    align-items: center;
    display: flex;
    justify-content: center;
    transform: scale(1.0);
    transition: transform linear 0.25s;
    // stylelint-disable-next-line
    -webkit-backface-visibility: hidden; // to prevent jagged transition

    &:focus {
        outline: solid 2px get-color(white);
        transform: scale(1.05);
    }

    @include mq(medium) {
        &:hover { transform: scale(1.05); }
    }
}

.banner__logo-mark {
    @include mq($until: small) { max-width: 70px; }

    max-width: 122px;
    width: 100%;
}

.banner__logo-text {
    // Absolute values used here as the correct SVG logo is complete invalid
    // and broken. The text part of the logo needs to be 26% the height of the sun.
    left: -4px;
    max-width: 180px;
    position: relative;
    top: 7px;
    width: 100%;

    @include mq(small) {
        left: -8px;
        max-width: 250px;
        top: 12px;
    }
}
