// ==========================================================================
//
// BILLBOARD
//
// Description: A fullwidth section with a large min-height
//
// ==========================================================================


// ==========================================================================
// # BASE
// ==========================================================================

.billboard {
    @include landmark($spacing-unit);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 75vh;
    max-height: 1024px;

    &--secondary { @include get-bgc("secondary");  }

    &--position-bottom { background-position: center 32%; }

    &--reduced {
        @include landmark;

        @include mq($until: medium) { height: 55vh; }
    }
}

.billboard__inner {
    @include container;
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 600px;
    text-align: center;
}

.billboard__heading { margin-bottom: 0; }





// ==========================================================================
// # MODIFIER: SUNRAYS
// ==========================================================================

.billboard--sunrays {
    @include base-background(50% 50%, "secondary");
    background-image: url("data:image/svg+xml,%3Csvg class='sun-rays-svg' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 714 714' style='fill-opacity: 0.45;'%3E%3Cdefs%3E%3CradialGradient id='grad-100' %3E%3Cstop offset='0%25' style='stop-color:rgba(255, 230, 0, 0.5);' /%3E%3Cstop offset='100%25' style='stop-color:rgba(255, 230, 0, 0.5);' /%3E%3C/radialGradient%3E%3CradialGradient id='grad-50' %3E%3Cstop offset='50%25' style='stop-color:rgba(255, 230, 0, 1);' /%3E%3Cstop offset='100%25' style='stop-color:rgba(255, 230, 0, 0.5);' /%3E%3C/radialGradient%3E%3C/defs%3E%3Cpath class='sun-rays-svg__ray sun-rays-svg__ray--even' fill='url(%23grad-50)' d='M316.4 242.6l6.2-2L244.5 0h-7zM299 250.4l5.9-3L178.8 0h-7.4zM334.8 237.7l6.5-1.1L303.8 0h-6.7zM353.7 0h6.6v235.7h-6.6zM256.9 288.3l3.9-5.3L1 94.3v8.1zM283 260.8l5.3-3.9L101.7 0h-8.1zM247.4 304.8l3-5.8L1 171.9v7.4zM240.6 322.6l2-6.2L1 237.9v6.9zM372.7 236.6l6.5 1.1L416.9 0h-6.7zM409.2 247.4l5.8 3L542.6 0h-7.4zM391.4 240.6l6.2 2L476.5 0h-7zM440.5 268.9l4.6 4.6L715 3.7V0h-5.6zM268.9 273.5l4.6-4.6L4.7 0H1v5.7zM715 303.6V297l-238.7 37.8 1.1 6.5zM471.4 316.4l2 6.2L715 244.1v-6.9zM236.6 341.3l1.1-6.5L1 297.3v6.7zM268.9 440.5L1 708.4v5.6h3.7l268.8-268.9zM463.6 299l3 5.8L715 178.3v-7.4zM453.2 283l3.9 5.3L715 101v-8.2zM425.7 256.9l5.3 3.9L620.5 0h-8.2zM715 710.4L445.1 440.5l-4.6 4.6L709.4 714h5.6zM457.1 425.7l-3.9 5.3L715 621.2V613zM431 453.2l-5.3 3.9L612.3 714h8.2zM415 463.6l-5.8 3 126 247.4h7.4zM397.6 471.4l-6.2 2L469.5 714h7zM473.4 391.4l-2 6.2L715 476.8v-6.9zM477.4 372.7l-1.1 6.5L715 417v-6.6zM466.6 409.2l-3 5.8L715 543.1v-7.4zM478.3 353.7H715v6.6H478.3zM379.2 476.3l-6.5 1.1L410.2 714h6.7zM250.4 415l-3-5.8L1 534.7v7.4zM242.6 397.6l-2-6.2L1 469.2v6.9zM1 353.7h234.7v6.6H1zM353.7 478.3h6.6V714h-6.6zM237.7 379.2l-1.1-6.5L1 410.1v6.6zM260.8 431l-3.9-5.3L1 611.6v8.1zM288.3 457.1l-5.3-3.9L93.6 714h8.1zM341.3 477.4l-6.5-1.1L297.1 714h6.7zM322.6 473.4l-6.2-2L237.5 714h7zM304.9 466.6l-5.9-3L171.4 714h7.4z' /%3E%3Cpath class='sun-rays-svg__ray sun-rays-svg__ray--odd' fill='url(%23grad-100)' d='M275.7 266.9l5-4.3L56.4 0h-8.6zM290.8 255.3l5.6-3.5L142.1 0h-7.7zM307.5 246.2l6.1-2.6L212.7 0h-7.1zM344.2 236.3l6.6-.5L332.2 0h-6.6zM363.2 235.8l6.6.5L388.4 0h-6.6zM251.8 296.4l3.5-5.6L1 135v7.7zM243.6 313.6l2.6-6.1L1 206v7.1zM238.3 331.9l1.5-6.4L1 268.2v6.7zM266.9 275.7L1 48.6v8.7l261.6 223.4zM382.1 238.2l6.4 1.6L446.1 0h-6.8zM715 332.1v-6.6l-237.3 18.7.5 6.6zM458.7 290.8l3.5 5.6L715 141.5v-7.7zM467.8 307.5l2.6 6.1L715 212.3v-7.1zM474.2 325.5l1.6 6.4L715 274.4v-6.7zM400.4 243.6l6.1 2.6L508.4 0h-7.1zM666.2 0h-8.6L433.3 262.6l5 4.3zM235.8 350.8l.5-6.6L1 325.7v6.6zM447.1 275.7l4.3 5L715 55.6v-8.7zM417.6 251.8l5.6 3.5L579.6 0h-7.7zM325.5 239.8l6.4-1.6L274.7 0h-6.8zM423.2 458.7l-5.6 3.5L571.9 714h7.7zM438.3 447.1l-5 4.3L657.6 714h8.6zM715 658.4L451.4 433.3l-4.3 5L715 667.1zM388.5 474.2l-6.4 1.6L439.3 714h6.8zM406.5 467.8l-6.1 2.6L501.3 714h7.1zM470.4 400.4l-2.6 6.1L715 508.9v-7.2zM478.2 363.2l-.5 6.6L715 388.5v-6.6zM475.8 382.1l-1.6 6.4L715 446.3v-6.7zM462.2 417.6l-3.5 5.6 256.3 157v-7.7zM369.8 477.7l-6.6.5L381.8 714h6.6zM255.3 423.2l-3.5-5.6L1 571.3v7.7zM246.2 406.5l-2.6-6.1L1 500.9v7.1zM236.3 369.8l-.5-6.6L1 381.7v6.6zM266.9 438.3l-4.3-5L1 656.7v8.7zM239.8 388.5l-1.5-6.4L1 439.1v6.8zM313.6 470.4l-6.1-2.6L205.6 714h7.1zM331.9 475.8l-6.4-1.6L267.9 714h6.8zM350.8 478.2l-6.6-.5L325.6 714h6.6zM56.4 714l224.3-262.6-5-4.3L47.8 714zM296.4 462.2l-5.6-3.5L134.4 714h7.7z' /%3E%3C/svg%3E");
    max-height: 600px;
    overflow: hidden;

    .billboard__inner {
        @include box($half-spacing-unit);
        @include get-bgc("secondary");
        align-self: center;
        border-radius: 50%;
        height: 100vw;
        max-height: 664px;
        max-width: 664px;
        width: 100vw;

        @include mq(medium) { @include box($spacing-unit); }
    }

    .billboard__heading {
        margin-bottom: 0;

        // "Removing" and breaks on tiny screns
        @include mq($until: 320px) {
            br { display: none; }
        }

        @include fluid-type(34px, 70px, 400px, 1200px);
    }

    .billboard__sub-heading {
        text-shadow: rgba(get-color(secondary, dark), 0.75) 0px 0px 15px;

        // "Removing" and breaks on tiny screns
        @include mq($until: 320px) {
            br { display: none; }
        }

        @include fluid-type(26px, 54px, 400px, 1200px);
    }
}
