// ==========================================================================
//
// BIO
//
// Description: Bio card
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.bio {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 100%;

    @include mq(medium) {
        flex-direction: row;
    }

    .bio__img, .svg-icon {
        // align-self: center;
        border-radius: 50%;
        display: flex;
        margin-bottom: $half-spacing-unit;
        max-height: 150px;
        max-width: 150px;
        width: 100%;

        @include mq(medium) {
            margin-bottom: 0px;
            max-height: 230px;
            max-width: 230px;
        }
    }
    .svg-social-icon {
        width: auto;

        @include mq(medium) {
            margin-bottom: 0px;
        }
    }
}

.bio__wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    text-align: left;

    @include mq(medium) {
        margin-left: $spacing-unit;
    }
}


.bio__header {
    @include flex-col(flex-start, flex-start);
    @include landmark;
    @include separator-line(1px, calc(100% + #{$half-spacing-unit}), get-color(grey, light));
    position: relative;

    &:after { width: 100%; }

    @include mq($until: medium) {
        &:after { top: calc(100% + #{$quarter-spacing-unit}); }
    }

    @include mq(medium) { text-align: left; }
}

.bio__header-inner {
    align-items: center;
    display: flex;
}

.bio__title {
    @include wf-secondary;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;

    @include mq(medium) {
        justify-content: flex-start;
    }
}

.bio__description {
    display: block;
    margin-top: $quarter-spacing-unit/2;
    position: relative;
    text-align: center;

    @include mq(medium) {
        text-align: left;
    }
}


.bio__content {
    display: flex;
    margin-left: $half-spacing-unit;

    @include mq(large) {
        margin-left: 0px;
    }
}

.bio__copy { margin-bottom: 0; }
