// ==========================================================================
//
// BREADCRUMBS
//
// Description: A list of link showing the location of the current page.
//              The markup should use this example
//              https://scottaohara.github.io/a11y_breadcrumbs/
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.breadcrumbs {
    @include mq($until: medium) {
        @include vh;
    }

    @include mq(medium) { @include landmark; }
}

.breadcrumbs__list {
    @include inline-list--ib($half-spacing-unit, flex-start, flex-end);
}

.breadcrumbs__item {
    &:not(:last-child) {
        position: relative;

        &::after {
            @include get-bgc(grey);
            content: "";
            height: 50%;
            position: absolute;
            right: -($quarter-spacing-unit);
            top: 50%;
            transform: rotate(15deg) translateY(-50%);
            width: 2px;
        }

        .breadcrumbs__link { @include link-underline; }
    }

    &:last-child {
        .breadcrumbs__link {
            @include get-color(grey, light);
            @include link-underline;
        }
    }
}

.breadcrumbs__link {
    @include fsz(tiny);
    text-decoration: none;
}
