// ==========================================================================
//
// BUTTONS
//
// Description: Buttons
//
// ==========================================================================


// ==========================================================================
// # BASE
// ==========================================================================

.btn {
    @include btn;
}

.btn--twitter {
    align-items: center;
    background-color: get-color(twitter);
    border: 2px solid #1da1f2;
    color: get-color(white);
    display: inline-flex;
    outline: 0;
    padding: 8px $quarter-spacing-unit;
    text-decoration: none;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;

    &::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13.95 13.95'%3E%3Cpath d='M11.75 4.84a6.92 6.92 0 0 1-.82 3.26 6.73 6.73 0 0 1-2.36 2.65 6.81 6.81 0 0 1-3.82 1.1A6.87 6.87 0 0 1 1 10.75h.59a4.9 4.9 0 0 0 3.07-1 2.22 2.22 0 0 1-1.44-.49A2.44 2.44 0 0 1 2.33 8h.45a2.81 2.81 0 0 0 .65 0A2.4 2.4 0 0 1 2 7.11a2.3 2.3 0 0 1-.56-1.54v-.05a2.39 2.39 0 0 0 1.1.33A2.73 2.73 0 0 1 1.77 5a2.42 2.42 0 0 1-.3-1.19 2.3 2.3 0 0 1 .35-1.23 6.64 6.64 0 0 0 2.24 1.79 6.88 6.88 0 0 0 2.82.75 3.53 3.53 0 0 1 0-.56 2.41 2.41 0 0 1 .33-1.23 2.48 2.48 0 0 1 .89-.9 2.45 2.45 0 0 1 2.22-.12 2.81 2.81 0 0 1 .8.56 5.08 5.08 0 0 0 1.58-.58 2.5 2.5 0 0 1-1.08 1.36 5.67 5.67 0 0 0 1.4-.4 5.24 5.24 0 0 1-1.24 1.29 1.15 1.15 0 0 1-.03.3z' fill='%23fff'/%3E%3C/svg%3E");
        display: inline-block;
        height: 30px;
        margin-right: 3px;
        width: 30px;
    }

    &:focus {
        background-color: get-color(white);
        color: get-color(twitter);

        &:before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13.95 13.95'%3E%3Cpath d='M11.75 4.84a6.92 6.92 0 0 1-.82 3.26 6.73 6.73 0 0 1-2.36 2.65 6.81 6.81 0 0 1-3.82 1.1A6.87 6.87 0 0 1 1 10.75h.59a4.9 4.9 0 0 0 3.07-1 2.22 2.22 0 0 1-1.44-.49A2.44 2.44 0 0 1 2.33 8h.45a2.81 2.81 0 0 0 .65 0A2.4 2.4 0 0 1 2 7.11a2.3 2.3 0 0 1-.56-1.54v-.05a2.39 2.39 0 0 0 1.1.33A2.73 2.73 0 0 1 1.77 5a2.42 2.42 0 0 1-.3-1.19 2.3 2.3 0 0 1 .35-1.23 6.64 6.64 0 0 0 2.24 1.79 6.88 6.88 0 0 0 2.82.75 3.53 3.53 0 0 1 0-.56 2.41 2.41 0 0 1 .33-1.23 2.48 2.48 0 0 1 .89-.9 2.45 2.45 0 0 1 2.22-.12 2.81 2.81 0 0 1 .8.56 5.08 5.08 0 0 0 1.58-.58 2.5 2.5 0 0 1-1.08 1.36 5.67 5.67 0 0 0 1.4-.4 5.24 5.24 0 0 1-1.24 1.29 1.15 1.15 0 0 1-.03.3z' fill='%231da1f2'/%3E%3C/svg%3E");
            height: 30px;
            width: 30px;
        }
    }

    @include mq(medium) {
        padding: 8px $half-spacing-unit;

        &:hover {
            background-color: get-color(white);
            color: get-color(twitter);

            &:before {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13.95 13.95'%3E%3Cpath d='M11.75 4.84a6.92 6.92 0 0 1-.82 3.26 6.73 6.73 0 0 1-2.36 2.65 6.81 6.81 0 0 1-3.82 1.1A6.87 6.87 0 0 1 1 10.75h.59a4.9 4.9 0 0 0 3.07-1 2.22 2.22 0 0 1-1.44-.49A2.44 2.44 0 0 1 2.33 8h.45a2.81 2.81 0 0 0 .65 0A2.4 2.4 0 0 1 2 7.11a2.3 2.3 0 0 1-.56-1.54v-.05a2.39 2.39 0 0 0 1.1.33A2.73 2.73 0 0 1 1.77 5a2.42 2.42 0 0 1-.3-1.19 2.3 2.3 0 0 1 .35-1.23 6.64 6.64 0 0 0 2.24 1.79 6.88 6.88 0 0 0 2.82.75 3.53 3.53 0 0 1 0-.56 2.41 2.41 0 0 1 .33-1.23 2.48 2.48 0 0 1 .89-.9 2.45 2.45 0 0 1 2.22-.12 2.81 2.81 0 0 1 .8.56 5.08 5.08 0 0 0 1.58-.58 2.5 2.5 0 0 1-1.08 1.36 5.67 5.67 0 0 0 1.4-.4 5.24 5.24 0 0 1-1.24 1.29 1.15 1.15 0 0 1-.03.3z' fill='%231da1f2'/%3E%3C/svg%3E");
                height: 30px;
                width: 30px;
            }
        }
    }
}



// MODIFIER: DISABLED
// ==========================================================================

@mixin btn-disabled {
    // scss-lint:disable ImportantRule
    background-image: none !important;
    // scss-lint:disable ImportantRule
    cursor: default !important;
    opacity: 0.65;

    &:active {
        box-shadow: none;
    }
}

.btn[disabled],
.btn-disabled,
.btn--disabled {
    @include btn-disabled;
}





// MODIFIER: RESET
// ==========================================================================

.btn--reset { @include btn-reset; }




// MODIFIER: POSITION
// ==========================================================================

.btn--center {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.btn--auto-bottom { margin-top: auto; }

.btn--auto-right { margin-left: auto; }

.btn--auto-left { margin-right: auto; }





// ==========================================================================
// # MODIFIER: BUTTON COLOR
// ==========================================================================

.btn--small {
    @include fsz(tiny);
    padding: $quarter-spacing-unit/2 $spacing-unit;

    &:focus { @include get-color(primary); }

    @include mq(medium) {
        @include fsz(small);
        padding: $quarter-spacing-unit/1.5 $spacing-unit;

        &:hover { @include get-color(primary); }
    }
}




// ==========================================================================
// # MODIFIER: BUTTON COLOR
// ==========================================================================

// @mixin btn-color($color: false, $color-shade: default, $color-two: false, $color-two-shade: default) {
//     // Checking for color to exist
//     @if($color != false) {
//
//         // Checking for $color-two. If it doesn't exist then setting a default.
//         // $color-two is used for `color` property only.
//         @if( $color-two == false ) {
//             $color-two: color-get(black);
//         }
//
//         background-color: color-get($color, $color-shade);
//         border-color: color-get($color, $color-shade);
//         color: color-get($color-two, $color-two-shade);
//
//         &:hover,
//         &:focus {
//             background-color: transparent;
//             color: color-get($color, $color-shade);
//         }
//     }
// }





// ==========================================================================
//  # MODIFIER: BTN MODIFIER GENERATOR
// ==========================================================================

// This `@mixin` is to generate `btn--{modifier}` classes. It calls
// `@mixin btn-color` and generates a class depending on the first color & shade.
// @mixin btn-modifier-generator($color: false, $color-shade: default, $color-two: false, $color-two-shade: default) {
//     @if($color != false) {
//
//         // If there is no shade then the default is an empty string
//         $color-shade-modifier: "";
//
//         // Sorting shade modifier class for $color. If `$color` has a different shade
//         // then a string is generated using the `$color` shade.
//         @if( $color-shade != default ) {
//             $color-shade-modifier: $color-shade + "-";
//         }
//
//         .btn--#{$color-shade-modifier}#{$color} {
//             @include btn-color($color, $color-shade, $color-two, $color-two-shade);
//         }
//     }
// }
//
// // Manually creating color modifiers as we dont need loads
// @include btn-modifier-generator(black, default, white);
// @include btn-modifier-generator(green, default, white);





// @mixin btn-color($color: false, $color-shade: default) {
//     @if($color != false) {
//         $color-shade-modifier: "";
//
//         @if( $color-shade != default ) {
//             $color-shade-modifier: $color-shade + "-";
//         }
//
//         .btn--#{$color-shade-modifier}#{$color} {
//             background-color: color-get($color, $color-shade);
//
//             &:hover,
//             &:focus {
//                 background-color: #fff;
//                 color: color-get($color, $color-shade);
//             }
//         }
//     }
// }


// @each $color, $default-shade in $brand-colors {
//     @include btn-color($color);
//
//     @if( map-has-nested-keys($brand-colors, $color, light) == true) {
//         @include btn-color($color, light);
//     }
//
//     @if( map-has-nested-keys($brand-colors, $color, dark) == true) {
//         @include btn-color($color, dark);
//     }
// }
