// ==========================================================================
//
// FOOTER
//
// Description: Styles for the footer
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.footer {
    @include get-bgc(primary);
    padding: $half-spacing-unit;

    @include mq(medium) { flex-direction: row; }
}

.footer__inner {
    @include container;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mq(medium) { flex-direction: row; }
}

.footer__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mq($until: medium) {
        &:not(:last-of-type) { margin-bottom: $spacing-unit; }
    }

    &--large { flex-grow: 1; }
}


.footer__heading {
    @include get-color(white);
    @include heading(delta);
    @include wf-primary;
    margin-bottom: $quarter-spacing-unit/2;
}


.footer__email-link {
    @include fsz(tiny);
    @include get-color(white);
    @include link-underline;
}


.footer__link {
    display: flex;
    transform: scale(1.0);
    transition: transform linear 0.25s;
    // stylelint-disable-next-line
    -webkit-backface-visibility: hidden; // to prevent jagged transition

    &:focus {
        outline: solid white 2px;
        transform: scale(1.1);
    }

    @include mq(medium) {
        &:hover { transform: scale(1.1); }
    }
}

.footer__logo {
    max-height: 70px;
    width: 100%;
}


.footer__social { @include inline-list($quarter-spacing-unit); }

.footer__social-item {
    padding-left: $spacing-unit - $quarter-spacing-unit;
    position: relative;

    &:before {
        bottom: 6px;
        content: "";
        height: $half-spacing-unit;
        left: 0;
        position: absolute;
        width: $half-spacing-unit;
    }

    &--facebook {
        &:before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.5 10.5' fill='%23ffffff'%3E%3Cpath d='M10.49,9.92a.62.62,0,0,1-.16.41.59.59,0,0,1-.42.17H7.27V6.43H8.62l.22-1.58H7.27v-1a.87.87,0,0,1,.11-.57A.81.81,0,0,1,8,3.07h.84V1.64H7.63a2,2,0,0,0-1.47.54,2,2,0,0,0-.57,1.5V4.85H4.27V6.43H5.59V10.5h-5a.59.59,0,0,1-.42-.17A.58.58,0,0,1,0,9.92V.59A.58.58,0,0,1,.57,0H9.92a.58.58,0,0,1,.41.17.59.59,0,0,1,.17.42Z'/%3E%3C/svg%3E%0A");
        }
    }

    &--instagram {
        &:before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.4 10.4' fill='%23ffffff'%3E%3Cpath d='M10.4 3v4.36a4.63 4.63 0 0 1-.2 1.16 2.79 2.79 0 0 1-1.68 1.68 4.63 4.63 0 0 1-1.16.2H3a4.22 4.22 0 0 1-1.16-.2A2.65 2.65 0 0 1 .2 8.52 4.22 4.22 0 0 1 0 7.36V3a4.22 4.22 0 0 1 .2-1.18A2.7 2.7 0 0 1 1.82.2 4.22 4.22 0 0 1 3 0h4.36a4.22 4.22 0 0 1 1.16.2 2.53 2.53 0 0 1 1 .64 2.66 2.66 0 0 1 .65 1A5 5 0 0 1 10.4 3zM9.27 8.27A4.54 4.54 0 0 0 9.46 7V3.35a4.2 4.2 0 0 0-.19-1.27 1.7 1.7 0 0 0-1-1A5 5 0 0 0 7 .88H3.35a5.42 5.42 0 0 0-1.27.19 1.76 1.76 0 0 0-1 1 4.94 4.94 0 0 0-.19 1.27V7a5.42 5.42 0 0 0 .19 1.27 1.76 1.76 0 0 0 1 1 4.54 4.54 0 0 0 1.27.19H7a4.2 4.2 0 0 0 1.27-.19 1.71 1.71 0 0 0 1-1zM5.2 2.48a2.68 2.68 0 0 1 1.35.36 2.82 2.82 0 0 1 1 1 2.69 2.69 0 0 1 0 2.69 3 3 0 0 1-1 1 2.69 2.69 0 0 1-2.69 0 2.82 2.82 0 0 1-1-1A2.71 2.71 0 0 1 5.2 2.48zm0 4.45A1.75 1.75 0 0 0 6.93 5.2 1.7 1.7 0 0 0 6.42 4a1.72 1.72 0 0 0-1.22-.58 1.74 1.74 0 0 0-1.78 1.7v.08A1.69 1.69 0 0 0 5.2 6.93zm3.45-4.57a.6.6 0 0 0-.19-.44.6.6 0 0 0-.46-.19.64.64 0 0 0-.45.19.6.6 0 0 0-.19.44.64.64 0 0 0 .19.45A.63.63 0 0 0 8 3a.58.58 0 0 0 .43-.18.83.83 0 0 0 .17-.45z'/%3E%3C/svg%3E");
        }
    }
}

.footer__social-link {
    @include fsz(tiny);
    @include get-color(white);
    @include link-underline(white);
}

