// ==========================================================================
//
// ICON LIST
//
// Description: A list of icons each with an SVG icon and heading
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.icon-list {
    @include list-reset;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: -($half-spacing-unit);
    margin-right: -($half-spacing-unit);
}

.icon-list__item {
    @include flex-col;
    margin-bottom: $half-spacing-unit;
    margin-right: $half-spacing-unit;
    max-width: calc(50% - #{$half-spacing-unit});

    @include mq(small) { max-width: calc(25% - #{$half-spacing-unit}); }
}


.icon-list__svg {
    @include landmark($quarter-spacing-unit);
    max-height: 206px;
    max-width: 206px;
    width: 100%;
}


// .icon-list__heading {}


