// ==========================================================================
//
// PRESS LOGOS
//
// Description: A list of press logos
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.press-logos {
    @include get-bgc(secondary);
    overflow: hidden;
    padding-bottom: $half-spacing-unit;
    padding-top: $half-spacing-unit;

    @include mq(medium) {
        padding-bottom: $spacing-unit;
        padding-top: $spacing-unit;
    }

    @include mq(large) { padding-bottom: $double-spacing-unit; }
}

.press-logos__list {
    @include list-reset;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -($half-spacing-unit);
    margin-right: -($spacing-unit);
    position: relative;
}

.press-logos__list-item {
    align-items: center;
    display: flex;
    flex-grow: 1;
    margin-bottom: $spacing-unit;
    margin-right: $spacing-unit;
    width: calc(50% - #{$spacing-unit + $half-spacing-unit});

    @include mq(small) {
        margin-bottom: $half-spacing-unit;
        width: calc(33% - #{$spacing-unit + $half-spacing-unit});
    }

    @include mq(medium) {
        width: calc(25% - #{$spacing-unit + $half-spacing-unit});
    }

    @include mq(xlarge) { width: 160px; }

    svg,
    img {
        margin: 0 auto;
        max-width: 160px;
        width: 100%;
    }
}
