// ==========================================================================
//
// PRIMARY FEATURE
//
// Description: A card containing a bg-img, heading and CTA
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.primary-feature {
    @include flex-col(center, flex-start);

    // To fix crop on the primary feature thats image has a different aspect ratio
    &--bad-crop {
        .primary-feature__bg-img { background-position-y: 30%;}
    }

    // If JavaScript is running then add these styles
    .js & { cursor: pointer; }
}

.primary-feature__bg-img {
    @include base-background(50% 0%, secondary);
    height: 320px;
    width: 100%;
}


.primary-feature__inner {
    @include get-bgc(white);
    margin: -($double-spacing-unit) $quarter-spacing-unit 0;
    max-width: 516px;
    padding: $half-spacing-unit;
    text-align: center;

    @include mq(small) { margin: -($double-spacing-unit) $half-spacing-unit 0; }

    @include mq(medium) {
        padding: $half-spacing-unit $spacing-unit;
    }
}


.primary-feature__heading {
    @include get-color(primary);
    @include heading(delta);
}

.primary-feature__link {
    color: currentColor;
    text-decoration: none;
}


.primary-feature__copy {
    @include fsz(small);
    margin-bottom: $quarter-spacing-unit;
}

.primary-feature__btn { display: inline-block; }





// ==========================================================================
// # ELEMEMNT: PRIMARY FEATURE LIST
//
//             This probaly should be somewhere else or it's own component
//             but getting shit done...
// ==========================================================================

.primary-feature-list {
    @include inline-list($half-spacing-unit, center);

    @include mq(xlarge) {
        @include inline-list--ib($quarter-spacing-unit, center);
        margin: 0 auto;
        max-width: $container-width;
    }
}

.primary-feature-list__item {
    align-self: stretch;
    max-width: 100%;

    @include mq($from: small, $until: xlarge) {
        @include container($container-width-reduced);
        width: 100%;
    }
}
