// ==========================================================================
//
// PROFILE
//
// Description: Profile card
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.profile {
    width: 100%;

    @include mq(medium) { @include container; }
}

.profile__content {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: $half-spacing-unit;

    @include mq(large) {
        margin-left: 0px;
    }
}

.profile--wrapper {
    display: flex;
    text-align: left;

    @include mq(large) {
        display: block;
        text-align: center;
    }
}

.profile__img,
.profile .svg-icon {
    border-radius: 50%;
    max-height: 86px;
    max-width: 86px;
    width: 100%;

    @include mq(large) {
        margin-bottom: $quarter-spacing-unit;
        max-height: 230px;
        max-width: 230px;
    }

    &--default {
        border-radius: 0%;
    }
}

.profile__title {
    @include get-color(primary);
    @include heading(delta);
    @include wf-secondary;
    margin-bottom: $quarter-spacing-unit/2;
}

.profile__description {
    @include fsz(small);
    margin-bottom: 0;
}
