// ==========================================================================
//
// RESPONSIVE EMBED
//
// Description: A component for creating responsive embeds
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.responsive-embed {
    height: 0;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}

.responsive-embed iframe,
.responsive-embed object,
.responsive-embed embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}