// ==========================================================================
//
// SINGLE POST
//
// Description: Blog section
//
// ==========================================================================

// ==========================================================================
// # MIXINS
// ==========================================================================


@mixin border-left($color) {
    position: relative;
    &::after {
        background-color: $color;
        bottom: 0px;
        content: ' ';
        height: 94%;
        left: -30px;
        position: absolute;
        width: 3px;
    }
}





// ==========================================================================
// # BASE
// ==========================================================================


.single-post {
    @include container;
    background-color: get-color(white);
    display: flex;
    flex-direction: column;

    @include mq(xlarge) {
        margin-top: -200px;
        padding-top: 50px;
    }

    @include mq(large) {
        flex-direction: row;
    }
}

.single-post__profile {
    flex: 1;

    @include mq($until: medium) { margin-bottom: $half-spacing-unit; }
}

.single-post__copy {
    flex: 4;

    @include mq(medium) {
        @include container($container-width-reduced);
    }
}

.quotation-mark {
    &::before {
        display: block;
        height: 62px;
        margin-bottom: 30px;
        width: 86px;
    }

    &--primary {
        &::before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12.38 8.88'%3E%3Cpath d='M0 5c0-3.1 1.66-5 4.72-5a5.83 5.83 0 0 1 1 .09v1.63a6.2 6.2 0 0 0-1.1-.09 2.47 2.47 0 0 0-1.93.78A2.71 2.71 0 0 0 2 4.1a1.68 1.68 0 0 1 1.31-.51 2.5 2.5 0 0 1 2.48 2.65 2.57 2.57 0 0 1-2.7 2.64C1.54 8.88 0 7.66 0 5zm6.59 0c0-3.12 1.66-5 4.72-5a5.2 5.2 0 0 1 1 .09v1.63a5.74 5.74 0 0 0-1.1-.09 2.56 2.56 0 0 0-1.93.78 2.68 2.68 0 0 0-.73 1.69 1.63 1.63 0 0 1 1.31-.51 2.5 2.5 0 0 1 2.52 2.65 2.59 2.59 0 0 1-2.7 2.64C8.14 8.88 6.59 7.66 6.59 5z' fill='%23003b71'/%3E%3C/svg%3E");
        }
    }

    &--twitter {
        &::before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12.38 8.88'%3E%3Cpath d='M0 5c0-3.1 1.66-5 4.72-5a5.83 5.83 0 0 1 1 .09v1.63a6.2 6.2 0 0 0-1.1-.09 2.47 2.47 0 0 0-1.93.78A2.71 2.71 0 0 0 2 4.1a1.68 1.68 0 0 1 1.31-.51 2.5 2.5 0 0 1 2.48 2.65 2.57 2.57 0 0 1-2.7 2.64C1.54 8.88 0 7.66 0 5zm6.59 0c0-3.12 1.66-5 4.72-5a5.2 5.2 0 0 1 1 .09v1.63a5.74 5.74 0 0 0-1.1-.09 2.56 2.56 0 0 0-1.93.78 2.68 2.68 0 0 0-.73 1.69 1.63 1.63 0 0 1 1.31-.51 2.5 2.5 0 0 1 2.52 2.65 2.59 2.59 0 0 1-2.7 2.64C8.14 8.88 6.59 7.66 6.59 5z' fill='%2338a1f3'/%3E%3C/svg%3E");
        }
    }
}

.border-left--primary {
    @include border-left(get-color(primary));
}

.border-left--twitter {
    color: get-color(twitter);
    @include border-left(get-color(twitter));
}





// ==========================================================================
// # BASE
// ==========================================================================


.single-post__related-articles {
    @include container;
}

// @TODO: This selector sucks but GSD code...
.single-post__related-articles-inner {
    display: block;
    margin-left: auto;
    margin-right: 0;
    position: relative;

    @include mq(medium) { max-width: $container-width-reduced; }

    &:before {
        @include get-bgc(primary);
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        top: -($half-spacing-unit);
        width: 100%;

        @include mq(medium) { top: -($spacing-unit); }
    }
}