// ==========================================================================
//
// SOCIAL SHARE
//
// Description: style social share icons
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================


.social-share {
    @include mq(large) {
        @include separator-line(1px, -9px, get-color(grey, light));
        position: relative;
        text-align: center;
    }
}


.social-share-list {
    @include inline-list--ib($half-spacing-unit, flex-start, stretch);
    padding-left: 0px;

    @include mq(large) {
        justify-content: center;
        // margin-top: $quarter-spacing-unit;
    }

    &--bio {
        margin-left: $half-spacing-unit;

        > .social-share-list__item:not(:last-child) { margin-right: $half-spacing-unit; }
    }
}

.social-share-list__item {
    // width: 30px;
}

.social-share-list__link {
    @include flex-col;

    &:focus {
        outline: solid 2px get-color(primary);
        outline-offset: 2px;
    }

    @include mq(medium) {
        &:hover {
            .svg-icon { transform: scale(1.2) translateZ(0); }
        }
    }

    .svg-social-icon {
        height: $half-spacing-unit;
        transform: scale(1.0) translateZ(0);
        transition: transform 0.2s linear;
    }
}




.social-share__preheader {
    display: block;
    margin-bottom: $quarter-spacing-unit/2;

    @include mq(large) {
        margin-top: $half-spacing-unit;
    }
}