// ==========================================================================
// # CONTAINERS
//
// These are sections of the page that are constrained by their width
// ==========================================================================

// base container classes
.container {
    @include container;

    &--half { max-width: $container-width/2; }

    &--reduced { max-width: $container-width-reduced; }

    &--expanded { max-width: $container-width * 1.5; }
}
