.am-spinner {
    -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
    -webkit-animation: rotate-loading 1s linear 0s infinite normal;
    background-color: transparent;
    border: 5px solid transparent;
    border-color: #0266c8 #f90101 #f2b50f #00933b;
    border-radius: 100%;
    display: block;
    height: 30px;
    left: 30px;
    margin-left: -20px;
    padding: 0;
    position: absolute;
    top: 5px;
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transition: all 0.1s ease-in;
    width: 30px;
}

.am-spinner.hidden {
    animation: fadeOut 1s;
    display: none;
}

.am-spinner--s {
    border-width: 3px;
    height: 16px;
    top: 13px;
    width: 16px;
}
.am-spinner--m {
    border-width: 3px;
    height: 19px;
    top: 10px;
    width: 19px;
}
.am-spinner--l {
    border-width: 4px;
    height: 24px;
    top: 8px;
    width: 24px;
}

.am-is-loading {
    outline: none;
    overflow: hidden;
    padding-left: 35px;


}

.am-is-loading::before {
    border-color: #eeeeee #eeeeee #444444 #444444;
    border-width: 3px;
    content: "";
    display: block;
    height: 20px;
    left: -50%;
    left: 10px;
    margin: -10px 0 0 -3px;
    top: 50%;
    transition: all 0.1s ease-in;
    width: 20px;
}

@-webkit-keyframes rotate-loading {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate-loading {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

/* .loading-spinner{} */