.glide {
    position: relative;

    .glide__arrow {
        background: none;
        border: none;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        transform-origin: center;
        z-index: 2000;

        &.glide__arrow--right {
            left: auto;
        }
    }

    .gradient-overlay {

        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 100%);

        bottom: 0;
        left: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;

        z-index: 1000;
    }
}
