.glide--product-slider {

    .glide__slides {
        @include list-reset;
        align-items: flex-end;
    }

    .glide__slide {
        text-align: center;
        transition: opacity 0.25s ease-in-out, transform 0.25s ease;

        &:not(.glide__slide--active) {
            opacity: 0.65;
            transform: scale(0.8);
        }
    }

    .glide__arrows > .glide__arrow {
        @include get-bgc(white);
        border: 3px solid color-get(primary);
        border-radius: 50%;
        line-height: 0;
        padding: 0;
        transition: box-shadow 0.2s ease, background-color 0.2s ease;

        &--left { left: 0; }
        &--right { right: 0; }

        @include mq(medium) {
            &--left { left: $quarter-spacing-unit; }
            &--right { right: $quarter-spacing-unit; }
        }

        .glide__arrow__icon {
            stroke: color-get(primary);
        }

        &:hover, &:focus {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
        }

        &:focus {
            @include get-bgc(primary);
            outline: none;

            .glide__arrow__icon {
                stroke: color-get(white);
            }
        }
    }
}

.product-slider__marker {
    display: block;
    margin: 0 auto;

    .product-slider__marker--svg {
        fill: color-get(primary);
        transition: fill 0.4s ease;

        &--pink {
            fill: color-get(pink);
        }

        &--green {
            fill: color-get(green);
        }

        &--purple {
            fill: color-get(purple);
        }

        &--yellow {
            fill: color-get(secondary);
        }

        &--sky-blue {
            fill: color-get(sky-blue);
        }

        &--light-green {
            fill: color-get(green, light);
        }
    }
}

.separate-content {
    transition: all 0.4s ease;
    @include panel-theme(color-get(primary), color-get(white));

    &--pink {
        @include panel-theme(color-get(pink), color-get(white));
    }

    &--green {
        @include panel-theme(color-get(green), color-get(white));
    }

    &--purple {
        @include panel-theme(color-get(purple), color-get(white));
    }

    &--sky-blue {
        @include panel-theme(color-get(sky-blue), color-get(white));
    }
}

.panel-content__highlights__container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .panel-content__highlights__highlight {
        padding: 0 0.1rem 0.1rem;
        width: 33%;

        @include mq (large) {
            padding: 0;
            width: 20%;
        }
    }
}

.panel-content__store-logos {
    display: none;

    @include mq($until: medium) {
        &--mobile {
            display: block;
            margin: $spacing-unit;
        }
    }

    @include mq($from: medium, $until: xlarge) {
        &--tablet {
            display: block;
        }
    }

    @include mq($from: xlarge) {
        &--desktop {
            display: block;
        }
    }
}

.panel-content__separator {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.panel-content__disclaimer {
    margin-top: $spacing-unit;
}